<div class="content_box">
	<h1>Editing team</h1>
</div>

<div class="content_box">
<%= render 'form' %>
</div>

<div class="content_box">
<%= link_to "<i class='icon-arrow-left icon-small'></i> Back".html_safe, teams_path %>
</div>
