<%= content_for :title, "Showing all teams" %>

<div class="content_box">
<h2><i class='icon-group icon-large'></i> Teams</h2>
</div>

<div class="content_box">
<div class="float_clear width_100">
  <%= render 'list_teams' %>
</div>
</div>