<%= content_for :title, "Teams" %>

<div class="content_box">
<h2>&nbsp;<i class="icon-group icon-large"></i>&nbsp; Create a new team</h2>
</div>

<div class="content_box">
<%= render 'form' %>
</div>

<div class="content_box">
<%= link_to "<i class='icon-arrow-left icon-small'></i> Back".html_safe, teams_path %>
</div>