<%= content_for :title, "Search Results" %>

<% if !@found_results.empty? %>
  <% @found_results.each do |tutorial| %>
    <%= render :partial => tutorial %>
  <% end %>
<% else %>
	<div class="content_box">
	  <p>Your search term '<%= @search_string %>' did not find anything! Sad snail @:(</p>
	</div>
<% end %>