<%= content_for :title, "About Us" %>

<div class="content_box">
<h2>Where you can find us!</h2>
</div>

<div class="content_box">
<p>Check us out at our blogs!<br>
<br>
<%= link_to 'Baron Bloomer - Website GUI, Coder', 'http://www.baronbloomer.com' %><br>
<%= link_to 'David Evans - Coder', 'http://www.sonr.fm/about' %><br>
<%= link_to 'Shal Nirwal - Coder', 'http://www.shalininirwal.com' %><br>
</p>