<div class="content_box"
<h1>Editing tutorial</h1>

<%= render 'form' %>

</div>

<div class="content_box">
<%= link_to "<i class='icon-arrow-left icon-small'></i> Back".html_safe, tutorials_path %>
</div>
