<%= content_for :title, "Browse the Library!" %>
<%= content_for :show_tabs, "tutorials_index" %> <!-- Enable tabs to be show for tutorial index, tabs are in application layout html -->

<div id="tabGroupContent" class="tab-content">
  <div class="tab-pane fade in active" id="tutorial_syllabus">
    <%= render 'syllabus' %>
  </div>
  <div class="tab-pane fade" id="tutorial_library">
    <%= render 'library' %>
  </div>
</div>