<%= content_for :title, "Create a new tutorial!" %>

<div class="content_box">
<h2>&nbsp;<i class="icon-book icon-large"></i>&nbsp; Create a new tutorial</h2>
</div>

<div class="content_box">
	<%= render 'form' %>
</div>

<div class="content_box">
<%= link_to "<i class='icon-arrow-left icon-small'></i> Back".html_safe, tutorials_path %>
</div>
